# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Number Base Converter (Kotlin)/*
!/Number Base Converter (Kotlin)/task/
/Number Base Converter (Kotlin)/task/*
!/Number Base Converter (Kotlin)/task/src
